@import "../../assets/typography.css";

.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;

    order: 0;
    flex: 1 1;
    align-self: stretch;
    min-width: 0;
}

.inputAndButtonAndLabel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    isolation: isolate;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.inputTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    max-width: 100%;

    flex-grow: 0;
    z-index: 1;
    order: 0;
}

.inputAndButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4px;
    max-width: 100%;

    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 0;
}

.inputSettings {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px;
    min-width: 0;
    gap: 4px;
    isolation: isolate;

    background: #FCFCFD;
    box-shadow: 0 0 0 1px #D5D8DD inset;
    border-radius: 4px;

    order: 0;
    flex-grow: 1;
}

.withIcon {
    padding-right: 30px;
}

.badgeStroke {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 4px;

    flex-grow: 1;
    z-index: 1;

    overflow: hidden;
}

.fieldMessage {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4px;

    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: text;
}
