@import "../../assets/typography.css";

.defaultButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
    align-items: center;

    border-radius: 4px;

    flex-grow: 0;
}

.withText {
    padding: 6px 12px;
}

.withIcon {
    padding: 6px;
}

.plusButton {
    position: relative;
    width: 20px;
    height: 20px;
    align-content: center;
    justify-items: center;

    align-self: stretch;
}

.vector {
    pointer-events: none;
}

.defaultButton.primary {
    background: #0078CF;
}

.defaultButton.secondary {
    background: #FFFFFF;
}

.defaultButton.base {
    background: #FFFFFF;
    box-shadow: 0 0 0 1px #D5D8DD inset;
}
