@import "../../assets/typography.css";

.content {
    position: fixed;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 16px;
    max-width: 100%;
}

.content[data-mobile],
[data-mobile] .subheadingAndPadding {
    position: relative;
    inset: inherit;
}

.content[data-mobile] {
    height: inherit;
}

[data-mobile] .paddingForm {
    padding-top: 0;
}

[data-mobile] .split {
    flex-direction: column;
}

.subheadingAndPadding[data-form-header] {
    padding: 24px;
    border-radius: 4px;
}

.withNavigatorVisible {
    left: 336px;
}

.withNavigatorInvisible {
    left: 56px;
}

.paddingForm {
    display: flex;
    flex-direction: column;
    padding: 112px 16px 0;
    gap: 24px;
    width: 100%;

    overflow-y: auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.referenceInput,
.split {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

@media (max-width: 991px) {
    .split {
        flex-direction: column;
    }
}

.subheadingAndPadding {
    position: fixed;
    right: 20px;
    top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    align-self: stretch;

    background-color: #FFFFFF;

    transition: box-shadow 0.2s ease;
    z-index: 2;
}

.subheadingAndPadding.shadow {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
}

.subheadingSide {
    display: flex;
    flex-direction: row;
    padding: 0;

    flex: none;
}

.leftSide {
    composes: subheadingSide;
    align-items: center;
    gap: 16px;

    order: 0;
}

.mobileSide {
    justify-content: space-between;
    flex-grow: 1;
}

.rightSide {
    composes: subheadingSide;
    align-items: flex-start;
    gap: 4px;

    order: 1;
}

.mainTitle {
    flex-shrink: 0;
}

.content[data-hidden] {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.mobileFormButtons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
