@import "../../assets/typography.css";

.content {
    position: fixed;
    right: 0;
    left: 336px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 16px;
}

.paddingForm {
    display: flex;
    flex-direction: column;
    padding: 112px 16px 0;
    gap: 24px;
    width: 100%;

    overflow-y: auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.referenceInput,
.split {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.subheadingAndPadding {
    position: fixed;
    left: 336px;
    right: 20px;
    top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;

    align-self: stretch;

    background-color: #FFFFFF;

    transition: box-shadow 0.2s ease;
    z-index: 2;
}

.subheadingAndPadding.shadow {
    box-shadow:  0 4px 4px rgba(0, 0, 0, 0.04);
}

.subheadingSide {
    display: flex;
    flex-direction: row;
    padding: 0;

    flex: none;
    flex-grow: 0;
}

.leftSide {
    composes: subheadingSide;
    align-items: center;
    gap: 16px;

    order: 0;
}

.rightSide {
    composes: subheadingSide;
    align-items: flex-start;
    gap: 4px;

    order: 1;
}

.mainTitle {
    flex-shrink: 0;
}
