@import "../../assets/typography.css";

.inputSettings {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 8px;
    gap: 4px;

    width: 296px;
    max-width: 100%;

    background: #FCFCFD;
    box-shadow: 0 0 0 1px #D5D8DD inset;
    border-radius: 4px;

    flex-grow: 1;
}

.inputSettings.right {
    padding-right: 30px;
}

.inputSettings.left {
    padding-left: 30px;
}

input {
    outline: none;
}

label {
    position: relative;
    display: flex;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
}

::placeholder {
    color: #ABB1BA;
}
